{{#if nbPersonne}}
<p class="text-center">Il y a {{nbPersonne}} personnes enregistrées.</p>

<table>
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        {{#if session.isAdmin}}
        <th class="text-center">Editer</th>
        <th class="text-center">Supprimer</th>
        {{/if}}
    </tr>
    {{#each listePersonne}}
    <tr>
        <td><a href="/people/{{per_num}}">{{per_prenom}}</a></td>
        <td><a href="/people/{{per_num}}">{{per_nom}}</a></td>
        {{#if ../session.isAdmin}}
        <td class="text-center">
            <a href="/citations/{{cit_num}}/edit">
                <core-icon icon="editor:mode-edit"></core-icon>
            </a>
        </td>
        <td class="text-center">
            <a href="/citations/{{cit_num}}/delete">
                <core-icon icon="delete"></core-icon>
            </a>
        </td>
        {{/if}}
    </tr>
    {{/each}}
</table>
{{else}}
<p class="text-center">Il n'y a actuellement aucune personne enregistrée.</p>
{{/if}}

<a href="/people/create" title="Ajouter une personne">
    <paper-fab icon="social:person-add"></paper-fab>
</a>
