<div horizontal center-justified layout>

    <div class="card">
        <div class="card-header">Nouvelle citation</div>

        <form action="#" method="post">

            <p>
                <label for="per_num">Salarié</label>
                <select name="per_num" id="per_num">
                    <option value="-1" disabled="disabled">Sélectionnez un salarié</option>
                    {{#each listeSalarie}}
                    <option value="{{per_num}}">{{per_prenom}} {{per_nom}}</option>
                    {{/each}}
                </select>
            </p>

            <paper-input-decorator floatingLabel label="Date">
                <input is="core-input" name="cit_date" type="date">
            </paper-input-decorator>

            <paper-input-decorator floatingLabel label="Citation">
                <textarea is="core-input" name="cit_libelle" id="cit_libelle"></textarea>
            </paper-input-decorator>

            <div id="error"></div>

            <div horizontal center-justified layout>
                <paper-button type="button" id="btnDialog">
                    Voir les mots interdits
                </paper-button>
            </div>

            <paper-action-dialog backdrop layered="false" transition="core-transition-center" heading="Mots interdits">
                <ul id="mots">
                    {{#each listeMot}}
                    <li>{{mot_interdit}}</li>
                    {{/each}}
                </ul>

                <paper-button affirmative autofocus>Fermer</paper-button>
            </paper-action-dialog>

            <div horizontal center-justified layout>
                <button type="submit" is="paper-button-submit" id="btnAdd">
                    <core-icon icon="check"></core-icon>
                    Ajouter
                </button>
            </div>

        </form>
    </div>

</div>

<script src="/js/replace-words.js"></script>
