{{#if nbCitation}}
{{#if session.isAdmin}}
{{#if nbCitationEnAttente}}
{{#each hasAlready}}
    {{hasAlready}}
{{/each}}
<h2>Citations en attente ({{nbCitationEnAttente}})</h2>

<table>
    <tr>
        <th>Auteur</th>
        <th>Citation</th>
        <th>Date</th>
        <th>Supprimer</th>
        <th>Valider</th>
    </tr>
    {{#each listeCitationEnAttente}}
    <tr>
        <td>
            <core-tooltip label="Voir le profil" position="right">
                <a href="/people/{{per_num}}">
                    {{per_prenom}} {{per_nom}}
                </a>
            </core-tooltip>
        </td>
        <td><a href="/citations/{{cit_num}}">{{cit_libelle}}</a></td>
        <td>{{cit_date}}</td>
        <td class="text-center">
            <core-tooltip label="Supprimer la citation" position="left">
                <a href="/citations/{{cit_num}}/delete">
                    <core-icon icon="delete"></core-icon>
                </a>
            </core-tooltip>
        </td>
        <td class="text-center">
            <core-tooltip label="Valider la citation" position="left">
                <a href="/citations/{{cit_num}}/validate">
                    <core-icon icon="check"></core-icon>
                </a>
            </core-tooltip>
        </td>
    </tr>
    {{/each}}
</table>

<h2>Liste des citations</h2>
{{/if}}
{{/if}}

<p class="text-center">Il y a <strong>{{nbCitation}}</strong> citations enregistrées.</p>

<table id="citationTable">
    <tr>
        <th>Auteur</th>
        <th>Citation</th>
        <th class="text-center">Date</th>
        <th class="text-center">Note</th>
        {{#if ../canVote}}
        <th class="text-center">Noter</th>
        {{/if}}
        {{#if ../session.isAdmin}}
        <th class="text-center">Supprimer</th>
        {{/if}}
    </tr>
    {{#each listeCitation}}
    <tr>
        <td>
            <a href="/people/{{per_num}}">
                <core-tooltip label="Voir le profil" position="right">
                    {{per_prenom}} {{per_nom}}
                </core-tooltip>
            </a>
        </td>
        <td>
            <a href="/citations/{{cit_num}}">{{cit_libelle}}</a>
        </td>
        <td class="text-center">{{cit_date}}</td>
        <td class="text-center">
            {{#if vot_valeur}}
                <core-tooltip label="Voir les notes attribuées" position="left">
                    <div id="{{cit_num}}" class="note pointer">{{vot_valeur}}</div>
                </core-tooltip>
            {{else}}
                -
            {{/if}}
        </td>
        {{#if ../canVote}}
        <td class="text-center">
            {{#if hasAlready}}
            <core-tooltip label="Supprimer mon vote" position="left">
                <a href="/vote/{{cit_num}}/delete">
                    <core-icon icon="clear"></core-icon>
                </a>
            </core-tooltip>
            {{else}}
            <core-tooltip label="Noter la citation" position="left">
                <a href="/citations/{{cit_num}}/vote">
                    <core-icon icon="editor:mode-edit"></core-icon>
                </a>
            </core-tooltip>
            {{/if}}
        </td>
        {{/if}}
        {{#if ../session.isAdmin}}
        <td class="text-center">
            <core-tooltip label="Supprimer la citation" position="left">
                <a href="/citations/{{cit_num}}/delete">
                    <core-icon icon="delete"></core-icon>
                </a>
            </core-tooltip>
        </td>
        {{/if}}
    </tr>
    {{/each}}
</table>

<paper-action-dialog backdrop layered="false" transition="core-transition-center" heading="Notes attribuées" id="notePanel-4">
    <ul id="auteurs"></ul>
    <paper-button affirmative autofocus>Fermer</paper-button>
</paper-action-dialog>
{{else}}
<p class="text-center">Il n'y a actuellement aucune citation enregistrée.</p>
{{/if}}

<a href="/citations/create" title="Ajouter une citation">
    <paper-fab icon="add"></paper-fab>
</a>

<script src="/js/load-votes.js"></script>
