{{#if nbCitation}}
{{#if session.isAdmin}}
<h2>Citations en attente ({{nbCitationEnAttente}})</h2>

<table>
    <tr>
        <th>Auteur</th>
        <th>Citation</th>
        <th>Date</th>
        <th>Supprimer</th>
        <th>Valider</th>
    </tr>
    {{#each listeCitationEnAttente}}
    <tr>
        <td><a href="/people/{{per_num}}">{{per_prenom}} {{per_nom}}</a></td>
        <td>{{cit_libelle}}</td>
        <td>{{cit_date}}</td>
        <td class="text-center">
            <a href="/citations/{{cit_num}}/delete">
                <core-icon icon="delete"></core-icon>
            </a>
        </td>
        <td class="text-center">
            <a href="/citations/{{cit_num}}/validate">
                <core-icon icon="check"></core-icon>
            </a>
        </td>
    </tr>
    {{/each}}
</table>

<h2>Liste des citations</h2>
{{/if}}

<p class="text-center">Il y a {{nbCitation}} citations enregistrées.</p>

<table>
    <tr>
        <th>Auteur</th>
        <th>Citation</th>
        <th class="text-center">Date</th>
        <th class="text-center">Note</th>
        {{#if ../canVote}}
        <th class="text-center">Noter</th>
        {{/if}}
        {{#if ../session.isAdmin}}
        <th class="text-center">Supprimer</th>
        {{/if}}
    </tr>
    {{#each listeCitation}}
    <tr>
        <td><a href="/people/{{per_num}}">{{per_prenom}} {{per_nom}}</a></td>
        <td>{{cit_libelle}}</td>
        <td class="text-center">{{cit_date}}</td>
        <td class="text-center">{{#if vot_valeur}}{{vot_valeur}}{{else}}-{{/if}}</td>
        {{#if ../canVote}}
        <td class="text-center">
            <a href="/citations/{{cit_num}}/vote">
                <core-icon icon="editor:mode-edit"></core-icon>
            </a>
        </td>
        {{/if}}
        {{#if ../session.isAdmin}}
        <td class="text-center">
            <a href="/citations/{{cit_num}}/delete">
                <core-icon icon="delete"></core-icon>
            </a>
        </td>
        {{/if}}
    </tr>
    {{/each}}
</table>
{{else}}
<p class="text-center">Il n'y a actuellement aucune citation enregistrée.</p>
{{/if}}

<a href="/citations/create" title="Ajouter une citation">
    <paper-fab icon="add"></paper-fab>
</a>