{{#if nbResultat}}
<p class="text-center">Il y a {{nbResultat}} résultats pour cette recherche.</p>

<table>
    <tr>
        <th>Auteur</th>
        <th>Citation</th>
        <th>Date</th>
        <th>Note</th>
        {{#if ../session.userid}}
        <th class="text-center">Noter</th>
        {{/if}}
        {{#if ../session.isAdmin}}
        <th>Supprimer</th>
        {{/if}}
    </tr>
    {{#each listeResultat}}
    <tr>
        <td>
            <a href="/people/{{per_num}}">
                <core-tooltip label="Voir le profil" position="right">
                    {{per_prenom}} {{per_nom}}
                </core-tooltip>
            </a>
        </td>
        <td>{{cit_libelle}}</td>
        <td>{{cit_date}}</td>
        <td>{{#if vot_valeur}}{{vot_valeur}}{{else}}-{{/if}}</td>
        {{#if ../session.userid}}
        <td class="text-center">
            <a href="/citations/{{cit_num}}/vote">
                <core-icon icon="editor:mode-edit"></core-icon>
            </a>
        </td>
        {{/if}}
        {{#if ../session.userid}}
        <td class="text-center">
            <a href="/citations/{{cit_num}}/delete">
                <core-icon icon="delete"></core-icon>
            </a>
        </td>
        {{/if}}
    </tr>
    {{/each}}
</table>

<p class="text-center">
    <paper-button><a href="/citations/search">Faire une nouvelle recherche</a></paper-button>
</p>
{{else}}
<div horizontal center-justified layout>
    <div class="card">
        <p class="text-center">Il n'y a aucun résultat pour cette recherche.</p>
        <p class="text-center">
            <paper-button>
                <a href="/citations/search">Faire une nouvelle recherche</a>
            </paper-button>
        </p>
    </div>
</div>
{{/if}}