{{#if citation.cit_libelle}}
    {{#if citation.per_num_valide}}
        <div layout horizontal center-justified>
            <div class="card">

                <div horizontal justified layout>
                    <div horizontal start-justified layout>
                        <div class="card-header">{{title}}</div>
                    </div>

                    <div layout horizontal end-justified>
                        <core-tooltip label="Noter cette citation" position="left">
                            <a href="/citations/{{citation.cit_num}}/vote">
                                <core-icon icon="editor:mode-edit"></core-icon>
                            </a>
                        </core-tooltip>
                    </div>
                </div>

                <p>
                    <blockquote>{{citation.cit_libelle}}</blockquote>
                </p>

                <p>
                    <core-icon icon="question-answer"></core-icon>
                    Citée le {{citation.cit_date}} par <a href="/people/{{citation.per_num}}">{{citation.per_prenom}} {{citation.per_nom}}</a>
                </p>

                <p>
                    <core-icon icon="editor:format-quote"></core-icon>
                    Déposée le {{citation.cit_date_depo}}
                </p>

                <p>
                    <core-icon icon="check"></core-icon>
                    Validée le {{citation.cit_date_valide}}
                </p>
            </div>
        </div>

        {{#if nbNotes}}
        <div layout horizontal center-justified>
            <div class="card">

                <div class="card-header">Notes attribuées</div>

                <table class="table-none">
                    <tr>
                        <th>Personne</th>
                        <th>Note</th>
                    </tr>
                    {{#each notes}}
                    <tr>
                        <td>
                            <a href="/people/{{per_num}}">
                                <core-tooltip label="Voir le profil" position="right">
                                    {{per_prenom}} {{per_nom}}
                                </core-tooltip>
                            </a>
                        </td>
                        <td>{{vot_valeur}}</td>
                    </tr>
                    {{/each}}
                    <tr>
                        <td class="td-final">Total</td>
                        <td class="td-final">{{citation.vot_moyenne}}</td>
                    </tr>
                </table>

            </div>
        </div>

        {{#ifCond nbNotes '>' 1}}
        <div layout horizontal center-justified>
            <div class="card">
                <div class="card-header">Graphique des notes</div>
                <canvas id="stats" style="width: 100%; height: 300px; margin-top: 24px"></canvas>
            </div>
        </div>
        {{/ifCond}}

        {{/if}}
    {{else}}
        <div horizontal center-justified layout>
            <div class="card">
                <p class="text-center">Cette citation n'as pas encore été validée.</p>
                <p class="text-center">
                    <paper-button>
                        <a href="/citations/all">Retour à la liste des citations</a>
                    </paper-button>
                </p>
            </div>
        </div>
    {{/if}}

{{else}}
    <div horizontal center-justified layout>
        <div class="card">
            <p class="text-center">Cette citation n'existe pas.</p>
            <p class="text-center">
                <paper-button>
                    <a href="/citations/all">Retour à la liste des citations</a>
                </paper-button>
            </p>
        </div>
    </div>
{{/if}}

{{#ifCond nbNotes '>' 1}}
<script src="/bower_components/Chart.js/Chart.min.js"></script>

<script>
$(function() {
    'use strict';

    var listeNotes = [];
    var listeAuteurs = [];

    /**
     * Gets all notes.
     */
    $.ajax({
        url: '/api/citations/' + {{citation.cit_num}},
        async: false,
        success: function(notes) {
            notes.forEach(function(vote) {
                listeNotes.push(vote.vot_valeur);
                listeAuteurs.push(vote.per_prenom + ' ' + vote.per_nom);
            });

            showChart();
        },
        error: function(err) {
            console.log(err);
        }
    });

    /**
     * Shows the chart notes.
     */
    function showChart() {
        var context = document.getElementById("stats").getContext("2d");

        var data = {
            labels: listeAuteurs,
            datasets: [
                {
                    label: "Notes",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: listeNotes
                }
            ]
        };

        var myLineChart = new Chart(context).Line(data);
    }
});
</script>
{{/ifCond}}