* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #444;
    background-color: #fafafa;
    transition: opacity ease-in 0.2s;
}

h1,
h2,
h3 {
    font-weight: 300;
}

h4 {
    font-weight: 400;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #5677fc;
}

ul {
    line-height: 32px;
}

/* ---------------------------------------------------- *\
        App
\* ---------------------------------------------------- */

core-drawer-panel:not([narrow]) #navicon {
    display: none;
}

core-header-panel {
    background: #fafafa;
}

core-toolbar {
    color: #fff;
    background-color: #f44336;
}

@media(max-width:640px) {
    #mainheader.tall {
        height: auto;
        margin-bottom: 4px;
        line-height: inherit;
    }

    core-toolbar .header-title {
        margin-top: -124px;
        font-size: inherit;
        font-weight: 400;
    }

    core-toolbar:not(.tall) .header-title {
        margin-top: 4px;
    }

    core-toolbar .header-description {
        display: none;
    }
}

@media(min-width:639px) {
    core-toolbar:not(.tall) .header-title {
        font-size: inherit;
        -webkit-transition: font-size .18s ease-in;
        -moz-transition: font-size .18s ease-in;
        -ms-transition: font-size .18s ease-in;
        -o-transition: font-size .18s ease-in;
        transition: font-size .18s ease-in;
    }

    core-toolbar:not(.tall) .header-description {
        display: none;
    }
}

.header-description a {
    color: #fff;
}

#navmenu {
    color: #666;
    background-color: #fff;
}

#navheader {
    overflow: hidden;
    font-size: inherit;
    color: #fff;
    background-color: inherit;
    background-color: #d32f2f;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

#navheader .middle img {
    width: 84px;
    height: 84px;
}

core-selector a {
    color: #333;
}

paper-checkbox {
    padding: 22px 22px 22px 0;
}

.text-center {
    text-align: center;
}

.list-unstyled {
    list-style: none;
}

/* ---------------------------------------------------- *\
        Header
\* ---------------------------------------------------- */

.header-title {
    font-size: 1.5em;
}

.header-description {
    display: none;
    font-size: .9em;
    opacity: .9;
}

@media(min-width:640px) {
    .header-description {
        display: block;
    }
}

/* ---------------------------------------------------- *\
        Menu
\* ---------------------------------------------------- */

core-menu {
    margin: 0;
}

core-menu a {
    color: #555;
}

core-menu > paper-item {
    transition: all 300ms ease-in;
}

core-icon,
img {
    margin-right: 16px;
    color: inherit;
}

.divider {
    border-bottom: 1px solid #eee;
}

.open-below {
    top: 48px;
}

paper-action-dialog {
    width: 100%;
    margin: 0 auto;
}

@media(min-width:768px) {
    paper-action-dialog {
        width: 380px;
    }
}

/* ---------------------------------------------------- *\
        Containers
\* ---------------------------------------------------- */

.content {
    margin: 16px;
}

@media(min-width:768px) {
    .content {
        margin: 24px;
    }
}

/* ---------------------------------------------------- *\
        Cards
\* ---------------------------------------------------- */

.card {
    display: block;
    width: 100%;
    margin: 0 0 8px 0;
    padding: 24px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

@media(min-width:641px) {
    .card {
        margin: 8px;
    }
}

@media(min-width:896px) {
    .card {
        width: 640px;
    }
}

.card-header {
    font-size: 1.3em;
    color: #263238;
}

/* ---------------------------------------------------- *\
        Tables
\* ---------------------------------------------------- */

table {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.16);
}

@media(min-width:896px) {
    table {
        width: 80%;
    }
}

tr {
    -webkit-transition: all .16s ease;
    -moz-transition: all .16s ease;
    -ms-transition: all .16s ease;
    -o-transition: all .16s ease;
    transition: all .16s ease;
}

tr:hover {
    background-color: #fafafa;
}

td,
th {
    padding: 16px;
    line-height: 1.42857143;
}

th {
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-weight: 400;
    vertical-align: top;
    color: #999;
}

td {
    vertical-align: middle;
}

td a {
    display: block;
    color: inherit;
}

/* ---------------------------------------------------- *\
        Forms
\* ---------------------------------------------------- */

select {
    width: 100%;
    margin: .5em 0 .25em;
    padding: 4px 0;
    border: 0;
    border-bottom: 1px solid #999;
    font: inherit;
    outline: none;
    background-color: transparent;
}

/* ---------------------------------------------------- *\
        Quotes
\* ---------------------------------------------------- */

blockquote {
    quotes: "\201C""\201D""\2018""\2019";
    padding: 16px;
    border-left: 4px solid #ddd;
    color: #666;
    margin: 0;
    background-color: #fafafa;
    border-radius: 2px;
}

blockquote:before {
    content: open-quote;
    margin-right: .25em;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
    color: #ccc;
}

/* ---------------------------------------------------- *\
        Paper fab
\* ---------------------------------------------------- */

paper-fab {
    position: fixed;
    right: 1.5em;
    bottom: 1.5em;
    color: #fff;
    opacity: .9;
}

@media(min-width:768px) {
    paper-fab {
        right: 2em;
        bottom: 2em;
    }
}

/* ---------------------------------------------------- *\
        Alert messages
\* ---------------------------------------------------- */

paper-toast {
    bottom: 24px;
}