{{#if session.userid}}
<div horizontal center-justified layout>
    <div class="card">
        <p class="text-center">Vous êtes maintenant connecté.</p>
        <p class="text-center">
            <paper-button>
                <a href="/">Retour à l'accueil</a>
            </paper-button>
        </p>
    </div>
</div>
{{else}}

{{#if error}}
<paper-toast text="Vos identifiants sont incorrects." opened="true"></paper-toast>
{{/if}}

<div horizontal center-justified layout>

    <div class="card">
        <div class="card-header">Se connecter</div>

        <form action="#" method="post">
            <paper-input-decorator floatingLabel label="Nom d'utilisateur">
                <input is="core-input" name="login" id="login">
            </paper-input-decorator>

            <paper-input-decorator floatingLabel label="Mot de passe">
                <input is="core-input" type="password" name="password" id="password">
            </paper-input-decorator>

            <div id="loginBox" horizontal center-justified layout>
                <button type="submit" is="paper-button-submit" id="loginBtn">
                    Se connecter
                </button>
            </div>

            <paper-toast id="robotToast" text="Êtes-vous un robot ?"><div id="notARobot" style="color: #eeff41;">Non</div></paper-toast>
        </form>
    </div>

</div>

<script>
(function() {
    'use strict';

    var loginForm = document.querySelector('form');

    /**
     * Avoids to send the form the normal way.
     * @return {boolean} false
     */
    loginForm.onsubmit = function() {
        document.getElementById('robotToast').show();

        return false;
    }

    /**
     * Sends the form if the user click on the "Non" button on the paper toast.
     */
    document.getElementById('notARobot').onclick = function() {
        loginForm.submit();
    }
})();
</script>
{{/if}}
