<div vertical center layout flex>

    <div class="card">
        <div class="card-header">Nouvelle ville</div>

        <form action="#" method="post">

            <paper-input-decorator floatingLabel label="Nom de la ville">
                <input is="core-input" name="vil_nom">
            </paper-input-decorator>

            <div horizontal center-justified layout>
                <button type="submit" is="paper-button-submit">
                    <core-icon icon="check"></core-icon>
                    Ajouter
                </button>
            </div>

        </form>
    </div>

</div>
