<div vertical center layout flex>

    <div class="card">
        <div class="card-header">Modifier la ville {{ville.vil_nom}}</div>

        <form action="#" method="post">

            <paper-input-decorator floatingLabel label="Nouveau nom de la ville">
                <input is="core-input" name="vil_nom" value="{{ville.vil_nom}}">
            </paper-input-decorator>

            <div horizontal center-justified layout>
                <button type="submit" is="paper-button-submit">
                    <core-icon icon="check"></core-icon>
                    Modifier
                </button>
            </div>

        </form>
    </div>

</div>
